body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  /* tracks.css */

.tracks-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tracks-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9fb;
}

.tracks-title {
  margin-bottom: 20px;
  color: #1f2933;
}

.tracks-form {
  width: 100%;
  max-width: 600px; /* Set a maximum width for the form */
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-field {
  margin-bottom: 20px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  color: #52606d;
}

.input-field input,
.input-field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
}

.btn-primary {
  text-decoration: none;
  background-color: #ed8f0c;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #e47b02;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}
  @media (max-width: 768px) {
    .tracks-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .tracks-header button {
      margin-top: 10px;
    }
  
    .track-item {
      flex: 1 1 calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .track-item {
      flex: 1 1 100%;
    }
  }